/* Product cards */
  
.card {
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.363);
    max-width: 300px;
    max-height: 550px;
    background-color: white;
    margin-left: 35px;
    margin-bottom: 20px;
    text-align: center;
    color: #222f3e;
    font-family: arial;
}
  
.price {
    color: black;
    font-size: 22px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 5px;
    color: white;
    background-color: #1dca9c;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}
  